random:
  seed: 42

model:
  pretrained_model_name: "bert-base-uncased"

data:
  dataset_name: "stanfordnlp/snli"
  max_length: 128
  num_proc: 4

train:
  split: "train"
  batch_size: 16
  epochs: 3
  learning_rate: 2e-5
  warmup_step: 30
  keep_text: false

validation:
  split: "validation"
  batch_size: 32
  keep_text: true

eval:
  mode: "standard"
  test_split: "test"
  batch_size: 32
  keep_text: true